@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  /* padding-top: 12px;
  padding-bottom: 12px; */
  border-bottom: 4px solid #3596f5;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar__item {
  margin-left: 30px;
  margin-right: 30px;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.3s;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar__item:hover {
  background-color: #3596f5;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
}

.navbar__contacts {
  text-align: right;
}

.navbar__text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar__phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

.main__inner {
  padding-top: 54px;
  display: flex;
  justify-content: space-between;
}

.main__info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 65px;
}

.home__img path {
  opacity: 0;
  cursor: pointer;
}

.home__img path:hover {
  opacity: 1;
}

path.current__floor {
  opacity: 1;
}

.counter__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.counter__btn--down {
  transform: rotateX(180deg);
}

.main__title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}

.counter {
  font-family: "Bebas Neue", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}

.btn {
  border: none;
  padding: 16px 36px;
  cursor: pointer;
  border-radius: 6px;
}

.btn--primary {
  background-color: #3596f5;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.btn--primary:hover {
  background-color: #fff;
  color: #3596f5;
  border: 1px solid #3596f5;
}
